/// Широкий формат (стили подключаются вместе с десктопными и перекрывают их) ///

// точка подключения широкого формата
// (минимальная ширина)
$wide-min-width: 1500px;

/// Десктопные стили ///


// минимальная ширина контейнера в десктопном варианте
$container-desktop-min-width: 0;

// максимальная ширина контейнера в десктопном варианте
$container-desktop-max-width: 1240px;

// отступы контейнера в десктопном варианте
$container-desktop-padding: 40px;

// макс ширина body-wrapper на десктопе
$body-wrapper-desktop-max-width: 100%;

// паддинги враппера
$body-wrapper-desktop-padding: 0;
$body-wrapper-tab-padding: 0;
$body-wrapper-mobile-padding: 0;

// точка переключения с декстопного на планшетный вариант
// (минимальная ширина десктопа)
$desktop-min-width: 1150px;


/// планшетные стили ///

// минимальная ширина контейнера в планшетном варианте
$container-tab-min-width: 0;

// максимальная ширина контейнера в планшетном варианте
$container-tab-max-width: 980px;

// отступы контейнера в планшетном варианте
$container-tab-padding: 35px;


/// Мобильные стили ///

// точка переключения с мобильного на планшетный вариант
// (максимальная ширина мобильного)
$mobile-max-width: 640px;

// минимальная ширина контейнера в мобильном варианте
$container-mobile-min-width: 0;

// максимальная ширина контейнера в мобильном варианте
$container-mobile-max-width: 440px;

// отступы контейнера в мобильном варианте
$container-mobile-padding: 20px;

// макс ширина body-wrapper
$body-wrapper-mobile-max-width: 100%;

/// Вычисляемые стили ///

// точка переключения c декстопного на планшетный вариант
// (максимальная ширина планшета)
$tab-max-width: ($desktop-min-width - 1);

// точка переключения c мобильного на планшетный вариант
// (минимальная ширина планшета)
$tab-min-width: ($mobile-max-width + 1);
